<%= form_for @profile, url: user_profile_path, :html => { :multipart => true } do |f| %>
  <div class="form-group">
    <%= f.label :avatar %>: Don't upload anything innappropriate or else :v
    <%= f.file_field :avatar, class: 'form-control' %>
  </div>
  <div class="form-group">
    Neopets Username (Optional):
    <%= f.text_field :neoname, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>: Use this to explain about the pets, what you're seeking, etc.
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit "Update Profile", class: 'btn btn-primary' %>
  </div>
<% end %>