<% if user_signed_in? || admin_signed_in? %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% if user_signed_in? %>
      <h1 class="text-center">Mailbox</h1>
      <p class="text-center">If another user messages you, you'll find it in the list below.</p>
      <p class="text-center">Please delete old conversations occasionally, our server would appreciate it!</p>
      <% elsif admin_signed_in? %>
        <h1 class="text-center">User Conversations</h1>
        <p class="text-center">These are all the conversations on the site currently.</p>
      <% end %>
      <br/>
      <ul class="list-unstyled">
        <% @conversations.each do |conversation| %>
          <% if user_signed_in? %>
            <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
              <% if conversation.sender_id == current_user.id %>
                <% recipient = User.find(conversation.recipient_id) %>
              <% else %>
                <% recipient = User.find(conversation.sender_id) %>
              <% end %>
              <div class="well row <%= cycle('white-bg', '') %> conversation-box">
                <div class="col-md-12">
                  <p class="text-center">
                  Conversation with <%= link_to recipient.username, conversation_messages_path(conversation) %></p>
                </div>
              </div>
            <% end %>
          <% elsif admin_signed_in? %>
            <% recipient = User.find(conversation.recipient_id) %>
            <% sender = User.find(conversation.sender_id) %>
            <% if sender != nil && recipient != nil %>
              <div class="well row <%= cycle('white-bg', '') %> conversation-box-2">
                <p class="text-center">
                Conversation between <%= link_to recipient.username, conversation_messages_path(conversation) %>
                 and <%= link_to sender.username, conversation_messages_path(conversation) %></p>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>