<% if user_signed_in? || admin_signed_in? %>
  <% if admin_signed_in? || current_user.id == @pet.user.id %>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="text-center">Edit <%= @pet.name %></h1>
          <p class="text-center">Use this if your pet happened to change colors, gained stats, etc.</p>
          <div class="well">
            <%= form_for @pet, url: user_pet_path, html: {id: 'pet_form'} do |f| %>
              <% if admin_signed_in? %>
              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
              </div>
              <% end %>
              <div class="form-group">
                <%= f.label :gender %>
                <%= f.select :gender, [['Male'], ['Female']], class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :species %>
                <%= f.select :species, [['Acara'], ['Aisha'], ['Blumaroo'],
                  ['Bori'], ['Bruce'], ['Buzz'], ['Chia'], ['Chomby'],
                  ['Cybunny'], ['Draik'], ['Elephante'], ['Eyrie'],
                  ['Flotsam'], ['Gelert'], ['Gnorbu'], ['Grarrl'],
                  ['Grundo'], ['Hissi'], ['Ixi'], ['Jetsam'], ['Jubjub'],
                  ['Kacheek'], ['Kau'], ['Kiko'], ['Koi'], ['Korbat'],
                  ['Kougra'], ['Krawk'], ['Kyrii'], ['Lenny'], ['Lupe'],
                  ['Lutari'], ['Meerca'], ['Moehog'], ['Mynci'],
                  ['Nimmo'], ['Ogrin'], ['Peophin'], ['Poogle'],
                  ['Pteri'], ['Quiggle'], ['Ruki'], ['Scorchio'],
                  ['Shoyru'], ['Skeith'], ['Techo'], ['Tonu'],
                  ['Tuskaninny'], ['Uni'], ['Usul'], ['Vandagyre'],
                  ['Wocky'], ['Xweetok'], ['Yurble'], ['Zafara']], class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :color %>
                <%= f.select :color, [['8-Bit'], ['Agueena'], ['Alien'], ['Apple'],
                  ['Asparagus'], ['Aubergine'], ['Avocado'], ['Baby'], ['Biscuit'],
                  ['Blue'], ['Blueberry'], ['Brown'], ['Burlap'], ['Camouflage'], ['Candy'], ['Carrot'],
                  ['Checkered'], ['Chocolate'], ['Chokato'], ['Christmas'],
                  ['Clay'], ['Cloud'], ['Coconut'], ['Custard'], ['Darigan'],
                  ['Desert'], ['Dimensional'], ['Disco'], ['Durian'],
                  ['Elderlyboy'], ['Elderlygirl'], ['Electric'], ['Eventide'],
                  ['Faerie'], ['Fire'], ['Garlic'], ['Ghost'], ['Glowing'],
                  ['Gold'], ['Gooseberry'], ['Grape'], ['Green'], ['Grey'],
                  ['Halloween'], ['Ice'], ['Invisible'], ['Island'], ['Jelly'],
                  ['Lemon'], ['Lime'], ['Magma'], ['Mallow'], ['Maractite'],
                  ['Maraquan'], ['Marble'], ['Mosaic'], ['Msp'], ['Mutant'], ['Oil Paint'], ['Onion'], ['Orange'],
                  ['Origami'], ['Pastel'], ['Pea'], ['Peach'], ['Pear'], ['Pepper'],
                  ['Pineapple'], ['Pink'], ['Pirate'], ['Plum'], ['Plushie'],
                  ['PolkaDot'], ['Purple'], ['Quigukiboy'], ['Quigukigirl'],
                  ['Rainbow'], ['Red'], ['Relic'], ['Robot'], ['Royalboy'],
                  ['Royalgirl'], ['Shadow'], ['Silver'], ['Sketch'], ['Skunk'],
                  ['Snot'], ['Snow'], ['Speckled'], ['Split'], ['Sponge'],
                  ['Spotted'], ['Starry'], ['Stealthy'], ['Steampunk'], ['Strawberry'],
                  ['Striped'], ['SwampGas'], ['Thornberry'], ['Tomato'], ['Toy'],
                  ['Transparent'], ['Tyrannian'], ['Ummagine'], ['UsukiBoy'],
                  ['UsukiGirl'], ['Water'], ['White'], ['Woodland'], ['Wraith'],
                  ['Yellow'], ['Zombie']], class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :level %>: Level and other stats are optional
                <%= f.number_field :level, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :hp %>
                <%= f.number_field :hp, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :strength %>
                <%= f.number_field :strength, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :defence %>
                <%= f.number_field :defence, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :movement %>
                <%= f.number_field :movement, class: 'form-control' %>
              </div>
              <% if admin_signed_in? %>
              <div class="form-group">
                <%= f.check_box :uc %>
                <%= f.label "Unconverted?", class: "col-md-3 align" %>
              </div>
              <br>
              <div class="form-group">
                 <%= f.check_box :rw %>
                <%= f.label "Real Word?", class: "col-md-3 align" %>
              </div>
              <br>
              <div class="form-group">
                <%= f.check_box :rn %>
                <%= f.label "Real Name?", class: "col-md-3 align" %>
              </div>
              <br>
              <% end %>
              <div class="form-group">
                <%= f.check_box :uft %>
                <%= f.label "Up For Trade?", class: "col-md-3 align" %>
              </div>
              <br>
              <div class="form-group">
                <%= f.check_box :ufa %>
                <%= f.label "Up For Adoption?", class: "col-md-3 align" %>
              </div>
              <br>
              <% if admin_signed_in? %>
              <div class="form-group">
                <%= f.check_box :verified %>
                <%= f.label :verified, class: 'col-md-3 align' %>
              </div>
              <% end %>
              <div class="form-group">
                <%= f.label :description %>: Seeking anything specific?  Anything special about the pet?
                <%= f.text_area :description, class: 'form-control' %>
              </div>
              <br/>
              <div class="form-group">
                <%= f.submit "Update Pet", class: 'btn btn-primary', id: 'form-signup-btn' %>
                <%= f.hidden_field :id, value: @pet.id %>
              </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
