<% if user_signed_in? || admin_signed_in? %>
  <% if admin_signed_in? || current_user.id == @pet.user.id %>
    <div class="container">  
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="text-center">Edit <%= @pet.name %></h1>
          <p class="text-center">Use this if your pet happened to change colors, gained stats, etc.</p>
          <div class="well">
            <%= form_for @pet, url: user_pet_path, html: {id: 'pet_form'} do |f| %>
              <div class="form-group">
                <%= f.label :gender %>
                <%= f.select :gender, [['Male'], ['Female']], class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :level %>: Level and other stats are optional
                <%= f.number_field :level, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :hp %>
                <%= f.number_field :hp, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :strength %>
                <%= f.number_field :strength, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :defence %>
                <%= f.number_field :defence, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :movement %>
                <%= f.number_field :movement, class: 'form-control' %>
              </div>
              <% if admin_signed_in? %>
              <div class="form-group">
                <%= f.check_box :uc %>
                <%= f.label "Unconverted?", class: "col-md-3 align" %>
              </div>
              <br>
              <div class="form-group">
                 <%= f.check_box :rw %>
                <%= f.label "Real Word?", class: "col-md-3 align" %>
              </div>
              <br>
              <div class="form-group">
                <%= f.check_box :rn %>
                <%= f.label "Real Name?", class: "col-md-3 align" %>
              </div>
              <br>
              <% end %>
              <div class="form-group">
                <%= f.check_box :uft %>
                <%= f.label "Up For Trade?", class: "col-md-3 align" %>
              </div>
              <br>
              <div class="form-group">
                <%= f.check_box :ufa %>
                <%= f.label "Up For Adoption?", class: "col-md-3 align" %>
              </div>
              <br>
              <% if admin_signed_in? %>
              <div class="form-group">
                <%= f.check_box :verified %>
                <%= f.label :verified, class: 'col-md-3 align' %>
              </div>
              <% end %>
              <div class="form-group">
                <%= f.label :description %>: Seeking anything specific?  Anything special about the pet?
                <%= f.text_area :description, class: 'form-control' %>
              </div>
              <br/>
              <div class="form-group">
                <%= f.submit "Update Pet", class: 'btn btn-primary', id: 'form-signup-btn' %>
                <%= f.hidden_field :id, value: @pet.id %>
                <%= f.hidden_field :name, value: @pet.name %>
              </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>