<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul class="list-unstyled">
        <% if admin_signed_in? %>
          <h1 class="text-center">Pet's awaiting verification</h1>
          <% @pets.each do |user| %>
              <% if pet.verified == false %>
                <li>
                  <div class="well row <%= cycle('white-bg', '') %>">
                    <div class="col-sm-2 text-center">
                        <%= link_to pet do %>
                          <%= image_tag "http://pets.neopets.com/cpn/" + pet.name + "/1/6.png", class: 'user-index-avatar' %>
                        <% end %>
                      <% end %>
                    </div>
                    <div>
                      <div class="col-sm-6">
                        <%= link_to pet do %>
                          <h2 class="inline"><%= pet.name %></h2>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            <% else %>
            <h1 class="text-center">Opps!</h1>
            <p class="text-center">You shouldn't be on this page, turn back now.</p>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>