<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h4 class="text-center"><%= @user.username %>'s Profile</h4>
      <div class="well text-center">
        <%= image_tag @user.profile.avatar.url, class: 'avatar-show-img' %>
        <h1><%= @user.profile.title %></h1>
        <h5><%= @user.profile.description %></h5>
        <hr class="style-one"/>
        <% @pets.each do |pet| %>
          <% if pet.user.id == @user.id %>
            <% if pet.verified == true %>
              <div class="inline-pets">
                <%= link_to controller: "users", action: "petshow", id: pet.id do %>
                  <%= image_tag "http://pets.neopets.com/cpn/" + pet.name + "/1/6.png", class: 'user-index-avatar' %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <br/>
        <% if user_signed_in? || admin_signed_in? %>
          <% if admin_signed_in? %>
            <p><%= link_to "Message me!", conversations_path(sender_id: current_admin.id, recipient_id: @user.id), method: "post" %></p>
          <% elsif current_user.id != @user.id %>
            <p><%= link_to "Message me!", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: "post" %></p>
          <% end %>
          <% if admin_signed_in? %>
            <p><%= link_to "Edit Profile", edit_user_profile_path(user_id: @user.id) %></p>
          <% elsif current_user.id == @user.id %>
            <p><%= link_to "Edit Profile", edit_user_profile_path(user_id: current_user.id) %></p>
          <% end %>
        <% end %>
      </div>
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
