<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% if @user.banned? %>
      <h1 class="text-center">Opps!</h4>
      <p class="text-center">This user has been banned.  Nothing to see here, move along.</p>
      <% else %>
      <div class="well text-center">
        <%= image_tag @user.profile.avatar.url, class: 'avatar-show-img' %>
        <h1><%= @user.username %>'s Pets</h1>
        <h5><%= sanitize @user.profile.description, tags: %w(), attributes: %w() %></h5>
        <% unless @user.profile.neoname == "" || @user.profile.neoname == nil %>
          <% name = sanitize @user.profile.neoname, tags: %w(), attributes: %w() %>
          <% url = "http://www.neopets.com/userlookup.phtml?user=" + name %>
          <p>Neopets UN: <%= link_to name, url %></p>
        <% end %>
        <hr class="style-one"/>
        <% @pets.each do |pet| %>
          <% if pet.user.id == @user.id %>
            <% if pet.verified == true %>
              <div class="inline-pets">
                <%= link_to controller: "users", action: "petshow", id: pet.id do %>
                  <%= image_tag "http://pets.neopets.com/cpn/" + pet.name + "/1/6.png", class: 'user-index-avatar' %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <br/>
        <% if user_signed_in? %>
          <% if current_user.id != @user.id %>
            <p><%= link_to "Message me!", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: "post" %></p>
          <% end %>
          <% if current_user.id == @user.id %>
            <p><%= link_to "Edit Profile", edit_user_profile_path(user_id: current_user.id) %></p>
          <% end %>
        <% end %>
        <% if admin_signed_in? %>
            <p><%= link_to "Edit Profile", edit_user_profile_path(user_id: @user.id) %></p>
            <p><%= link_to "Edit User", edit_user_path(id: @user.id) %></p>
        <% end %>
      </div>
      <%= link_to "Back", :back %>
      <% end %>
    </div>
  </div>
</div>
