<div class="text-center container-fluid">
  <h1>PetTP</h1>
  <p>Find and list neopets UFT/UFA!</p>
  <div class="divider">
    <div class="center">
      <%= image_tag("alienaisha.gif") %>
    </div>
  </div>
  <br>
  <h3>Pets listed: <%= @pets.where(verified: true).count %></h3>
  <div class="row">
    <div class="well search-well">
      <h3>Search by Color and/or Species</h3>
      <%= form_tag pets_path, :method => :get do |f| %>
        <% colors_array = [[''], ['8-Bit'], ['Agueena'], ['Alien'], ['Apple'], 
        ['Asparagus'], ['Aubergine'], ['Avocado'], ['Baby'], ['Biscuit'], 
        ['Blue'], ['Blueberry'], ['Brown'], ['Camouflage'], ['Candy'], ['Carrot'], 
        ['Checkered'], ['Chocolate'], ['Chokato'], ['Christmas'], 
        ['Clay'], ['Cloud'], ['Coconut'], ['Custard'], ['Darigan'], 
        ['Desert'], ['Dimensional'], ['Disco'], ['Durian'], 
        ['Elderlyboy'], ['Elderlygirl'], ['Electric'], ['Eventide'], 
        ['Faerie'], ['Fire'], ['Garlic'], ['Ghost'], ['Glowing'], 
        ['Gold'], ['Gooseberry'], ['Grape'], ['Green'], ['Grey'], 
        ['Halloween'], ['Ice'], ['Invisible'], ['Island'], ['Jelly'], 
        ['Lemon'], ['Lime'], ['Magma'], ['Mallow'], ['Maractite'], 
        ['Maraquan'], ['Marble'], ['Msp'], ['Mutant'], ['Onion'], ['Orange'], 
        ['Origami'], ['Pastel'], ['Pea'], ['Peach'], ['Pear'], ['Pepper'], 
        ['Pineapple'], ['Pink'], ['Pirate'], ['Plum'], ['Plushie'], 
        ['PolkaDot'], ['Purple'], ['Quigukiboy'], ['Quigukigirl'], 
        ['Rainbow'], ['Red'], ['Relic'], ['Robot'], ['Royalboy'], 
        ['Royalgirl'], ['Shadow'], ['Silver'], ['Sketch'], ['Skunk'], 
        ['Snot'], ['Snow'], ['Speckled'], ['Split'], ['Sponge'], 
        ['Spotted'], ['Starry'], ['Stealthy'], ['Steampunk'], ['Strawberry'], 
        ['Striped'], ['SwampGas'], ['Thornberry'], ['Tomato'], ['Toy'],
        ['Transparent'], ['Tyrannian'], ['Ummagine'], ['UsukiBoy'], 
        ['UsukiGirl'], ['Water'], ['White'], ['Woodland'], ['Wraith'], 
        ['Yellow'], ['Zombie']] %>
        <%= select_tag(:colorsearch, options_for_select(colors_array), class: 'form-control') %>
        <br/>
        <% species_array = [[''], ['Acara'], ['Aisha'], ['Blumaroo'], 
        ['Bori'], ['Bruce'], ['Buzz'], ['Chia'], ['Chomby'], 
        ['Cybunny'], ['Draik'], ['Elephante'], ['Eyrie'], 
        ['Flotsam'], ['Gelert'], ['Gnorbu'], ['Grarrl'], 
        ['Grundo'], ['Hissi'], ['Ixi'], ['Jetsam'], ['Jubjub'], 
        ['Kacheek'], ['Kau'], ['Kiko'], ['Koi'], ['Korbat'], 
        ['Kougra'], ['Krawk'], ['Kyrii'], ['Lenny'], ['Lupe'], 
        ['Lutari'], ['Meerca'], ['Moehog'], ['Mynci'], 
        ['Nimmo'], ['Ogrin'], ['Peophin'], ['Poogle'], 
        ['Pteri'], ['Quiggle'], ['Ruki'], ['Scorchio'], 
        ['Shoyru'], ['Skeith'], ['Techo'], ['Tonu'], 
        ['Tuskaninny'], ['Uni'], ['Usul'], ['Vandagyre'], 
        ['Wocky'], ['Xweetok'], ['Yurble'], ['Zafara']]%>
        <%= select_tag(:speciessearch, options_for_select(species_array), class: 'form-control') %>
        <br/>
        <p>UC: <%= check_box_tag :ucsearch, true, false, :class => "ucsearch" %></p>
        <p>UFT: <%= check_box_tag :uftsearch, true, false, :class => "uftsearch" %> UFA: <%= check_box_tag :ufasearch, true, false, :class => "ufasearch" %></p>
        <%= submit_tag "Search!", :name => nil %>
      <% end %>
    </div>
    <div class="well search-well">
      <h3>Search by RW/RNs</h3>
      <%= form_tag pets_path, :method => :get do |f| %>
        <p>RW: <%= check_box_tag :rwsearch, true, false, :class => "rwsearch" %>
           RN: <%= check_box_tag :rnsearch, true, false, :class => "rnsearch" %></p>
        <%= submit_tag "Search!", :name => nil %>
      <% end %>
    </div>
    <div class="well search-well">
      <h3>Search by Name</h3>
      <%= form_tag pets_path, :method => :get do |f| %>
        <%= text_field_tag :namesearch, params[:namesearch], placeholder: "Search Name", class: 'form-control' %>
        <br/>
        <%= submit_tag "Search!", :name => nil %>
      <% end %>
    </div>
    <div class="well search-well">
      <h3>Search by Name Length</h3>
      <%= form_tag pets_path, :method => :get do |f| %>
        <% length_array = ['', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] %>
        <%= select_tag(:namelengthsearch, options_for_select(length_array), class: 'form-control') %>
        <br/>
        <%= submit_tag "Search!", :name => nil %>
      <% end %>
    </div>
    <div class="well search-well">
      <h3>Search by HSD</h3>
      <%= form_tag pets_path, :method => :get do |f| %>
        <%= text_field_tag :minbdsearch, params[:minbdsearch], placeholder: "Min HSD", class: 'form-control' %>
        <%= text_field_tag :maxbdsearch, params[:maxbdsearch], placeholder: "Max HSD", class: 'form-control' %>
        <br/>
        <%= submit_tag "Search!", :name => nil %>
      <% end %>
    </div>
  </div>
  <div class="divider">
    <div class="center">
      <%= image_tag("alienaisha.gif") %>
    </div>
  </div>
  <br/>
<div>